{
  "presets": [
    [
      "@nuxtjs/babel-preset-app",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-transform-modules-commonjs",
      { "loose": true }
    ]
  ]
}
