html, body
{
  color: #462405;
  letter-spacing: 0.5px;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

/* HACK: Fix for vendor CSS overwritten WalletConnect style */
.walletconnect-modal__headerLogo {
  height: 21px !important;
}
