@mixin padding-x($left: 0, $right: false) {

  @if $left > 0 {
    $left: $left * 1px
  }

  @if not $right {
    $right: $left;
  } @else if $right > 0 {
    $right: $right * 1px
  }

  padding: {
    right: $right;
    left: $left;
  };
}

@mixin padding-y($top: 0, $bottom: false) {

  @if $top > 0 {
    $top: $top * 1px
  }

  @if not $bottom {
    $bottom: $top;
  } @else if $bottom > 0 {
    $bottom: $bottom * 1px
  }

  padding: {
    right: $bottom;
    left: $top;
  };
}

@mixin background-image-sliding-animation-x($gradient) {
  @keyframes sliding-animation {
    0% { background-position-x: 100%; }
    100% { background-position-x: -100%; }
  }

  animation: {
    name: sliding-animation;
    duration: .8s;
    timing-function: linear;
    iteration-count: infinite;
    fill-mode: forwards;
  };

  background: {
    image: $gradient;
    size: 200%;
  }
}