@mixin padding-x($left: 0, $right: false) {

  @if $left > 0 {
    $left: $left * 1px
  }

  @if not $right {
    $right: $left;
  } @else if $right > 0 {
    $right: $right * 1px
  }

  padding: {
    left: $left;
    right: $right;
  };
}

@mixin padding-y($top: 0, $bottom: false) {

  @if $top > 0 {
    $top: $top * 1px
  }

  @if not $bottom {
    $bottom: $top;
  } @else if $bottom > 0 {
    $bottom: $bottom * 1px
  }

  padding: {
    left: $top;
    right: $bottom;
  };
}
