$like-white: #ffffff;
$like-black: #000000;

$like-gray-1: #f7f7f7;
$like-gray-2: #f4f4f4;
$like-gray-3: #d8d8d8;

$gray-9b: #9B9B9B;
$gray-c0: #C0C0C0;
$gray-e6: #e6e6e6;

$like-gray-4: #737373;
$like-gray-5: #4a4a4a;

$like-light-blue: #D2F0F0;
$like-green: #28646E;
$like-green-2: #16a122;

$like-brown: #714b29;
$like-dark-brown-1: #462814;
$like-dark-brown-2: #462405;

$like-red: #fc5757;

$like-gradient-1: #F0E6B4;
$like-gradient-2: #3C286E;
$like-gradient-3: #6E2828;

$like-linear-gradient: linear-gradient(258deg, $like-light-blue, $like-gradient-1);
$like-linear-gradient-2: linear-gradient(74deg, $like-gradient-2, $like-gradient-3);

$base-font-list:  'Source Sans Pro',
                  'Noto Sans',
                  'Microsoft JhengHei',
                  Arial,
                  sans-serif;

$lc-header-height: 48px;
$lc-section-header-icon-size: 110px;

$border-style-1: 1px solid $like-gray-3;
$border-style-2: 1px solid $gray-e6;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
