
$large-padding: 64px;
$mid-padding: 24px;
$small-padding: 16px;

.landing {
  .upper-left-corner {
    width: 66.66%;
    height: 600px;
    margin-bottom: -600px;
    margin-left: -$large-padding;

    background-color: $like-gray-1;
  }
}


.container {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 1440px;
  margin: 0 auto;

  overflow: hidden;

  > * {
    margin-right: $large-padding;
    margin-left: $large-padding;
  }
  .section-title-wrapper {
    margin-left: $large-padding + 40px;
  }
}

@media (max-width: 1024px) {
  .container {
    .landing .upper-left-corner {
      width: 75%;
      height: 680px;
      margin-bottom: -680px;
    }
  }
}


@media (max-width: 768px) {
  .container {
    > * {
      margin-right: $mid-padding;
      margin-left: $mid-padding;
    }
    .landing .upper-left-corner {
      margin-left: -$mid-padding;
      width: 95%;
    }

    .section-title-wrapper {
      margin-left: $mid-padding;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .container {
    > * {
      margin-right: $small-padding;
      margin-left: $small-padding;
    }

    .landing .upper-left-corner {
      margin-left: -$small-padding;
    }
  }
}
