@import "../assets/index";

$title-bar-height: 48px;

.md-dialog {
  position: absolute;
  width: 450px;
  min-height: 188px;
  border-radius: 6px;
  overflow: visible;

  @media (max-width: 600px) {
    max-width: 90%;
  }

  > .md-dialog-container {
    overflow: hidden;
    border-radius: 6px;

    .dialog-content {
      display: flex;
      flex-direction: column;
      padding: #{$title-bar-height + 8px} 32px 32px;

      @media (max-width: 600px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      .md-dialog-title {
        @extend .lc-font-size-32;
        @extend .lc-mobile;
        @extend .lc-padding-top-16;
        @extend .lc-padding-bottom-8;

        color: $like-dark-brown-2;
        margin-bottom: 0;

        display: flex;
        align-items: center;

        @media (max-width: 600px) {
          padding-left: 12px;
        }

        .md-progress-spinner {
          margin-right: 16px;
        }
      }

      .md-dialog-content {
        @extend .lc-margin-bottom-16;

        margin-top: 4px;
        font-size: 16px;
        line-height: 26px;
        color: $like-gray-4;

        @media (max-width: 600px) {
          padding: 0 12px;
        }

        &:first-child {
          padding-top: 0;
        }

        .md-field {
          padding-top: 16px;
        }
      }

      .md-button {
        @extend .lc-margin-top-8;

        width: auto;
        min-width: 256px;
      }

      img {
        margin: 0 8px;
      }

      section, a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.title-bar {
  border-radius: 6px 6px 0 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: $title-bar-height;
  display: flex;
}

.foxy {
  position: fixed;
  top: -50px;
  z-index: 999;
  left: calc(50% - 55px);
}
