@import "../assets/index";

$title-bar-height: 48px;

.md-dialog {
  position: absolute;
  z-index: 1001;

  width: 450px;
  min-height: 188px;

  border-radius: 6px;

  @media (max-width: 600px) {
    max-width: 90%;
  }

  > .md-dialog-container {
    overflow: hidden;

    .dialog-content {
      display: flex;
      flex-direction: column;

      padding: #{$title-bar-height + 8px} 40px 32px;

      @media (max-width: 600px) {
        padding-right: 12px;
        padding-left: 12px;
      }

      .md-dialog-title {
        @extend .lc-font-size-32;
        @extend .lc-mobile;
        @extend .lc-padding-top-16;
        @extend .lc-padding-bottom-8;

        display: flex;
        align-items: center;

        margin-bottom: 0;

        color: $like-dark-brown-2;

        @media (max-width: 600px) {
          padding-left: 12px;
        }

        .md-progress-spinner {
          margin-right: 16px;
        }
      }

      .md-dialog-content {
        @extend .lc-margin-bottom-16;

        margin-top: 4px;

        color: $like-gray-4;

        font-size: 16px;
        line-height: 26px;

        @media (max-width: 600px) {
          padding: 0 12px;
        }

        &:first-child {
          padding-top: 0;
        }

        .md-field {
          padding-top: 16px;
        }
      }

      .md-button {
        @extend .lc-margin-top-8;

        width: auto;
        min-width: 256px;
      }

      img {
        margin: 0 8px;
      }

      section, a {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

.title-bar {

  position: absolute;
  top: 0px;

  display: flex;

  width: 100%;
  height: $title-bar-height;

  border-radius: 6px 6px 0 0;
}

.foxy {
  position: absolute;
  z-index: 999;
  top: -50px;
  left: calc(50% - 55px);
}
