@import "variables";
@import "~vue-material/dist/vue-material.min"; // Hack to work around text extract order
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: $like-green, // The primary color of your application
  accent: $like-dark-brown-1 // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme


#__nuxt,
#__layout {
  overflow-x: hidden;

  min-height: 100vh;
}
