html * {
  font-family: 'Open Sans', sans-serif;
}

.v2-card-view {
  border-radius: 24px;
  background-color: #fff;
}

.v2-card-view__content {
  padding: 32px 24px;
}

.v2-modal__title {
  text-align: center;

  color: #4a4a4a;

  font-size: 16px;
  line-height: 22px;
}

.v2-modal__description {
  margin-top: 16px;

  text-align: center;

  color: #9b9b9b;

  font-size: 16px;
  line-height: 22px;
}

.v2-modal__actions {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  column-gap: 8px;
  justify-content: center;

  margin-top: 24px;
}

.v2-form,
.v2-form__content,
.v2-form__body {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
}
.v2-form__header,
.v2-form__footer {
  display: flex;
  justify-content: space-between;
}

.v2-form__footer {
  margin-top: 24px;
}

.v2-form__header-left-slot,
.v2-form__header-right-slot,
.v2-form__footer-left-slot,
.v2-form__footer-right-slot {
  display: flex;
  align-items: center;
}

.v2-form__header-left-slot,
.v2-form__footer-left-slot {
  justify-content: flex-start;

  margin-right: auto;
}

.v2-form__header-right-slot,
.v2-form__footer-right-slot {
  justify-content: flex-end;

  margin-left: auto;
}

.v2-form__header h2 {
  margin: 0 12px;

  color: #28646E;

  font-size: 16px;
  line-height: 1.25;
}

.v2-form__body {
  color: #9b9b9b;

  font-size: 16px;
  line-height: 1.375;
}
