/* stylelint-disable */

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.site-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
  color: #fff;
}

.site-main-menu__item {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #fff !important;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.site-main-menu__item:hover {
  color: #50e3c2 !important;
  text-decoration: none;
}

.site-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #316469;
  background-image: url('../images/hero-bg.jpg');
  background-position: 50% -100%;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.container.container--fixed {
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}

.collage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.collage__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

.collage__image {
  width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.button {
  padding: 10px 20px;
  -webkit-transition: color 200ms ease, background-color 200ms ease !important;
  transition: color 200ms ease, background-color 200ms ease !important;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #eaf4f6;
  text-decoration: none;
}

.button.button--light {
  background-color: #28646e;
  color: #fff;
}

.button.button--light:hover {
  background-color: #21535c;
  color: #50e3c2;
}

.button.button--dark {
  background-color: #fff;
  color: #28646e;
}

.button.button--dark:hover {
  background-color: #50e3c2;
  color: #235861;
}

.site-hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.section {
  padding: 60px 0px;
}

.section.section--light {
  background-color: #eaf4f6;
}

.section.section--light.section--what-we-do {
  padding-bottom: 160px;
}

.section.section--dark {
  background-color: #28646e;
  color: #fff;
}

.section.section--dark.section--use-case {
  padding-top: 140px;
}

.section.section--slogan {
  position: relative;
  margin-top: -100px;
  margin-bottom: -100px;
}

.grid {
  grid-auto-flow: row;
  grid-column-gap: 32px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section__title {
  font-size: 64px;
  font-weight: 600;
}

.section__title.section__title--light {
  color: #333;
}

.section__title.section__title--dark {
  color: #fff;
}

.link--light {
  color: #28646e;
}

.link--light:hover {
  color: #1e4a52 !important;
}

.slogan {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: skew(0deg, -4deg);
  -ms-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
  color: #28646e;
  font-size: 48px;
  line-height: 1.2em;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.tagline {
  color: #fff;
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.collage__title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #28646e;
  font-size: 48px;
  font-weight: 600;
}

.collage__title.collage__title--light {
  color: #28646e;
}

.grid-item__title {
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 600;
}

.grid-item__title.grid-item__title--center {
  font-size: 28px;
  line-height: 1.2em;
  text-align: left;
}

.grid-item__content {
  margin-bottom: 0px;
}

.link--dark {
  color: #eaf4f6 !important;
}

.section__description {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 300;
  text-align: left;
}

.grid-item__image-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 56.25%;
}

.grid-item__image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.use-case__footer {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.text--bold {
  font-weight: 600;
}

.slogan-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #fff;
  -webkit-transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
}

.paragraph {
  color: #4a4a4a;
}

.site-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-menu-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image {
  height: 100px;
}

.social-media-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.social-media-icons.social-media-icons--footer {
  margin-top: 10px;
  margin-left: -10px;
}

.icon-button {
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

.icon-button-link {
  display: block;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
}

.icon-button-link.icon-button-link--light {
  color: #28646e;
}

.icon-button-link.icon-button-link--light:hover {
  color: #50e3c2;
}

.icon-button-link.icon-button-link--dark {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  color: #fff;
}

.icon-button-link.icon-button-link--dark:hover {
  color: #50e3c2;
}

.footer-logo {
  height: 72px;
}

.link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.link.link--light:hover {
  text-decoration: underline;
}

.link.link--light.link--no-underline {
  text-decoration: none;
}

.link.link--light.link--no-underline:hover {
  text-decoration: none;
}

.link.link--dark:hover {
  color: #50e3c2 !important;
}

.link.link--dark.link--no-underline {
  text-decoration: none;
}

.link.link--dark.link--no-underline:hover {
  text-decoration: none;
}

.grid-item__meta {
  margin-top: -5px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #50e3c2;
  color: #28646e;
  font-size: 14px;
  line-height: 1em;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .site-header {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .site-main-menu__item {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
  }
  .site-main-menu__item:hover {
    background-color: #255d66;
  }
  .container.container--fixed {
    padding-right: 40px;
    padding-left: 40px;
  }
  .collage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .collage__content {
    margin-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .collage__image {
    width: 100%;
  }
  .section.section--light.section--what-we-do {
    padding-bottom: 140px;
  }
  .section.section--dark.section--use-case {
    padding-top: 140px;
  }
  .section.section--slogan {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .grid {
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .tagline {
    min-height: 60px;
  }
  .grid-item.grid-item--hidden-tablet {
    display: none;
  }
  .icon {
    color: #eaf4f6;
  }
  .site-menu {
    margin-right: 0px;
    background-color: #28646e;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .site-menu-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .brand {
    display: block;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .grid-item--hidden-tablet {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-main-menu__item:hover {
    background-color: #2e747f;
    color: #fff;
  }
  .section.section--light.section--what-we-do {
    padding-bottom: 140px;
  }
  .section.section--dark.section--use-case {
    padding-top: 140px;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .section__title.section__title--light {
    font-size: 48px;
  }
  .slogan {
    font-size: 24px;
  }
  .grid-item.grid-item--hidden-tablet {
    display: none;
  }
  .site-menu {
    background-color: #28646e;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
}

@media screen and (max-width: 479px) {
  .container.container--fixed {
    padding-right: 20px;
    padding-left: 20px;
  }
  .collage__image {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .button {
    padding: 6px 12px;
    font-size: 14px;
  }
  .section.section--light.section--what-we-do {
    padding-bottom: 140px;
  }
  .section.section--dark.section--use-case {
    padding-top: 140px;
  }
  .section__title {
    font-size: 36px;
  }
  .tagline {
    font-size: 24px;
  }
  .collage__title.collage__title--light {
    font-size: 32px;
  }
  .grid-item__title {
    font-size: 24px;
  }
  .section__description {
    font-size: 24px;
  }
  .site-menu-wrap {
    padding-right: 0px;
  }
  .image {
    width: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 0%;
    object-position: 0% 0%;
  }
  .social-media-icons.social-media-icons--footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
}

#w-node-994d7f87d61d-cba99d90 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-994d7f87d61d-cba99d90 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-994d7f87d61d-cba99d90 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}
